.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  width: 190px;
  height: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  max-width: 420px;
}

.profile__name {
  margin: 0 0 12px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
  color: #212121;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: #212121b2;
  max-width: 20px;
}

.profile__edit-btn {
  margin-top: auto;
  margin-right: auto;
  width: 120px;
  height: 25px;
  radius: 90px;
  gap: 8px;
  background: #fcf5e5;
  border: none;
}

.profile__add-btn {
  margin-left: auto;
  width: 137px;
  padding: 0;
  width: 157px;
  height: 57px;
  background: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  font: 500 16px/1 Poppins;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    min-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__column {
    text-align: center;
    margin-right: 0;
  }
  .profile__name {
    margin: 0 0 6px;
    font-size: 20px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    font-style: 16px;
  }

  .profile__add-btn {
    margin: 0;
    min-width: 288px;
    width: 100%;
  }
}
